body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://img.freepik.com/free-vector/flat-design-forest-landscape_23-2149155031.jpg?t=st=1738745937~exp=1738749537~hmac=8ca2d4d32b114ded327069198dbc45ac8d46ceca74d676b20e1f3ac1777e34dc&w=996') no-repeat;
  margin: 0;
  background-size: cover;
  background-position: center;
}

.container {
  background: #f1efef;
  margin-top: 10px;
  padding: 5px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* Heading */
h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #333;
}

/* Password Input Container */
.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

/* Password Input Field */
.password-input {
  width: 100%;
  padding: 12px;
  padding-right: 40px; /* Space for eye icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.password-input:focus {
  border-color: #162938;
}

/* Eye Icon Button */
.toggle-visibility-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
  opacity: 0.3;
}

.toggle-visibility-button:hover {
  color: #000;
  opacity:0.8;
}

/* Check Button */
.check-button {
  width: 100%;
  padding: 12px;
  background: #162938;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.check-button:hover {
  background-color: #0f1f2b;
}

/* Strength Bar */
.strength-bar {
  height: 10px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

/* Strength Text */
.strength-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

/* Criteria List */
.criteria-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.criteria-list li {
  padding: 5px;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

/* Suggestions Section */
.suggestions {
  margin-top: 15px;
  text-align: left;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 5px;
  border-left: 4px solid #ff9800;
}

.suggestions h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.suggestions ul {
  padding-left: 20px;
}

.suggestions li {
  font-size: 14px;
  color: #555;
}

/* Responsive Design */
@media (max-width: 500px) {
  .container {
    padding: 15px;
  }
  .password-input, .check-button {
    font-size: 14px;
    padding: 10px;
  }
  .strength-text, .criteria-list li, .suggestions h3, .suggestions li {
    font-size: 12px;
  }
  .toggle-visibility-button {
    font-size: 16px;
  }
}
